<!DOCTYPE html>
<html >
<head>
    <% include ../partials/head %>
    <meta http-equiv="refresh" content="2">
    
    
</head>
<body class="mini-navbar">

    <div id="wrapper">
        <% include ../partials/nav-izq %>
        <div id="page-wrapper" class="gray-bg">
            <% include ../partials/nav-top %>

            <div style="display: flex;">
              <h3 style="margin: auto;">Cargando Informacion..</h3>
            </div>
            
            <% include ../partials/footer %>
        </div>
    </div>
    
</body>
</html>