<div class="footer">
    <div class="pull-right">
        Updated <strong><%= new Date().toLocaleString() %></strong>
    </div>
    <div>
        Copyright <strong>Marcatel COM</strong> 
    </div>
</div>

