<div class="footer">
    <div class="pull-right">
        Copyright <strong>Marcatel COM</strong> 
    </div>
    <audio id="alertAudio"  > 
        <source src= 
"http://mtelservice1/audio/bell.mp3" 
        type="audio/mpeg"> 
    </audio>
</div>

