<div class="footer">
    <div class="pull-right"><% let date = new Date() %>
        <% date.setHours(d.getHours()-2) %>
        Updated <strong><%= date.toLocaleString() %></strong>
    </div>
    <div>
        Copyright <strong>Marcatel COM</strong> 
    </div>
</div>

