<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        
            <h3 class="inline mt-0"> Breadcrum </h3>
        
        <ul class="nav navbar-top-links navbar-right">
            
            <li>
                <a id='actualizacion' href="#">
                    <i class="fa fa-cloud-upload"></i> 
                    <%= typeof FechaActualizacion != 'undefined' && typeof FechaActualizacion != null ? FechaActualizacion.substring(0,19).replace('T',' ') : ''%> 
                    
                </a>
            </li>
        </ul>

    </nav>
</div>