
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">Marcatel B2C </strong>
                            </span> 
                            <span class="text-muted text-xs block">Soporte <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    B2C
                </div>
            </li>
            <li >
                <a href="/Proveedores"><i class="fa fa-envelope"></i> <span class="nav-label">Proveedores</span></a>
            </li>
            <li>
                <a href="/Programados"><i class="fa fa-send"></i> <span class="nav-label">Programados</span> </a>
            </li>
            <li>
                <a href="/Graficas"><i class="fa fa-line-chart"></i> <span class="nav-label">Gráficas</span> </a>
            </li>
            <li>
                <a href="/MensajesPrueba"><i class="fa fa-exclamation-triangle"></i> <span class="nav-label">Mensajes de Prueba</span> </a>
            </li>
        </ul>

    </div>
</nav>


    
    
