#Exitosos {
	font-size: 2em;
}
.NoExitosos {
	font-size: 1em;
	min-width: 50px;
}
p {
	margin: 0px;
}
.col-xs-2,
.col-xs-3 {
	margin-right: 30px;
}
.NoExitosos,
.Exitosos {
	margin-left: 5px;
}

.row.container {
	display: flex;
	justify-content: flex-start;
	column-gap: 10px;
	flex-wrap: wrap;
}

/* 
@media (min-width: 711px) {
    #exitosos-wrapper {
        min-width: 230px;
    }
    #noexitosos-wrapper {
        min-width: 160px;
    }
    #campanas-wrapper {
        min-width: 160px;
    }
    
}
@media(max-width:710px){
    
    #exitosos-wrapper {
        width: 30%;
        font-size: 1.5vw;
        padding:.5vh .1vw;
    }
    #noexitosos-wrapper {
        width: 30%;
        font-size: 1.5vw;
        padding:.5vh .1vw;
    }
    #campanas-wrapper {
        width: 30%;
        font-size: 1.5vw;
        padding:.5vh .1vw;
    }
    .container{
        text-align:center;
    }
    
}
@media (max-width: 560px){
    #exitosos-wrapper{
        width:100%;
        font-size: 2vw;
        margin-top:.2vw;
    }
    #noexitosos-wrapper,#campanas-wrapper{
        width:100%;
        font-size: 2vw;
    }
    #Exitosos,#NoExitosos,#Campanas{
        font-size: 5vw;
        padding:0px;
    }
    .widget{
        padding:1vw;
        margin-bottom: .2vw;
        margin-top: .2vw;
    }
    .col-xs-3{
    margin-top: .4vh;
    }
    
} */
